# Анализ и обработка результатов

В анализе данных важно наглядное представление результатов, чтобы их мог оценить заказчик. Это бизнес, где на кону громадный трафик, серверные мощности, личное время многотысячной аудитории. И одновременно это исследование.

Как в настоящей экспериментальной науке, ответ непредсказуем. Его точность зависит от умелого владения статистическими методами и от качества исходных данных. Перед тем, как начинать считать, проверьте, грамотно ли ваши данные подготовлены.

# Группировка данных

Слово «анализ» означает разбор, рассмотрение с разных сторон. Анализ данных начинают с разделения их на группы по какому-нибудь признаку. Эта операция называется группировка данных. Она помогает изучить материал более подробно, чтобы затем перейти к поиску взаимосвязей между отдельными группами.


Группировка оправданна, если данные чётко делятся по значимому признаку, а полученные группы близки к теме задачи. Например, когда есть данные обо всех покупках в супермаркете, можно смело заниматься группировкой. Так можно установить время наплыва покупателей и решить проблему пиковых нагрузок. Или посчитать средний чек — обычно для магазинов это ключевая метрика.


Стадии группировки хорошо укладываются в словесную формулу **split-apply-combine**:

•	разделить, **split** — разбиение на группы по определённому критерию;

•	применить, **apply** — применение какого-либо метода к каждой группе в отдельности, например, подсчёт численности группы методом count() или суммирование вызовом sum();

•	объединить, **combine** — сведение результатов в новую структуру данных, в зависимости от условий разделения и выполнения метода это бывает DataFrame и Series.

На картинке изображен принцип **split-apply-combine** для таблицы с экзопланетами. Посмотрим, как вообще идут дела с поиском экзопланет. Сначала данные делят по группам, где каждая группа — это год. Потом метод **count()** подсчитывает численность каждой группы. В итоге получаем новую структуру данных с группами, где каждая содержит год и число открытых за этот год экзопланет.

![image.png](attachment:image.png)

В Рandas для группировки данных есть метод **groupby()**. Он принимает как аргумент название столбца, по которому нужно группировать. В случае с делением экзопланет по годам открытия:

**print(exoplanet.groupby('discovered'))**

**<pandas.core.groupby.DataFrameGroupBy object at 0x7fc1e1ca3400>**


Применение метода **groupby()** к объекту типа DataFrame приводит к созданию объекта особого типа — **DataFrameGroupBy**. Это сгруппированные данные. Если применить к ним какой-нибудь метод Pandas, они станут новой структурой данных типа **DataFrame** или **Series**.
Подсчитаем сгруппированные по годам экзопланеты методом **count()**:

Если нужно сравнить наблюдения по одному показателю, метод применяют к **DataFrameGroupBy** с указанием на один столбец. Нас в первую очередь интересует радиус экзопланет: мы ищем другую Землю. Давайте получим таблицу с единственным столбцом 'radius':

**exo_number = exoplanet.groupby('discovered')['radius'].count()**

**print(exo_number)**

Получили Series, где по годам открытия расписано количество экзопланет, для которых удалось установить радиус.

Посмотрим, как меняется средний радиус открытых экзопланет год от года. Для этого надо сложить радиусы планет, открытых за определённый год, и поделить на их количество (которое мы уже нашли).

Сумма радиусов считается методом **sum()**:

**exo_radius_sum = exoplanet.groupby('discovered')['radius'].sum()**


**print(exo_radius_sum)**



## Задача
Вашему вниманию предлагается датасет с обзором показателей самоубийств с 1985 по 2016 год — Сравнение социально-экономической информации с показателями самоубийств по годам и странам.

Столбцами этой таблицы являются: страна, год, пол, возрастная группа, количество самоубийств, население, уровень самоубийств, сводный ключ по стране за год, ИЧР (индекс человеческого развития) за год, ВВП за год, ВВП на душу населения, поколение (на основе среднего по возрастной группе).

1. Загрузите таблицу master, содержащую данные о самоубийствах. Выведите на экран таблицу и оцените данные, обратите внимание на названия столбцов, переименуйте их, если это необходимо.

2. Убедитесь в том, что данные прошли предподготовку.  Пропущенные и неопределённые значения выявляет метод isna(), а суммарное количество таких значений — метод sum().

3. Сгруппируйте DataFrame по столбцу country, сохраните полученный результат в переменной country_grouping.

4. Посчитайте количество случаев самоубийств по странам, которые были совершены, методом **sum()**, указав, что выбираем один столбец suicides_no.

Сохраните результат в переменной country_sum и выведите первые 30 строк этой таблицы.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/master.csv')

print(df.head(15))
print(df.tail(15))
print(df.columns.tolist())

    country  year     sex          age  suicides_no  population  \
0   Albania  1987    male  15-24 years           21      312900
1   Albania  1987    male  35-54 years           16      308000
2   Albania  1987  female  15-24 years           14      289700
3   Albania  1987    male    75+ years            1       21800
4   Albania  1987    male  25-34 years            9      274300
5   Albania  1987  female    75+ years            1       35600
6   Albania  1987  female  35-54 years            6      278800
7   Albania  1987  female  25-34 years            4      257200
8   Albania  1987    male  55-74 years            1      137500
9   Albania  1987  female   5-14 years            0      311000
10  Albania  1987  female  55-74 years            0      144600
11  Albania  1987    male   5-14 years            0      338200
12  Albania  1988  female    75+ years            2       36400
13  Albania  1988    male  15-24 years           17      319200
14  Albania  1988    male    75+ years            1       22300

    suicides/100k pop country-year  HDI for year  gdp_for_year ($)   \
0                6.71  Albania1987           NaN      2,156,624,900
1                5.19  Albania1987           NaN      2,156,624,900
2                4.83  Albania1987           NaN      2,156,624,900
3                4.59  Albania1987           NaN      2,156,624,900
4                3.28  Albania1987           NaN      2,156,624,900
5                2.81  Albania1987           NaN      2,156,624,900
6                2.15  Albania1987           NaN      2,156,624,900
7                1.56  Albania1987           NaN      2,156,624,900
8                0.73  Albania1987           NaN      2,156,624,900
9                0.00  Albania1987           NaN      2,156,624,900
10               0.00  Albania1987           NaN      2,156,624,900
11               0.00  Albania1987           NaN      2,156,624,900
12               5.49  Albania1988           NaN      2,126,000,000
13               5.33  Albania1988           NaN      2,126,000,000
14               4.48  Albania1988           NaN      2,126,000,000

    gdp_per_capita ($)       generation
0                  796     Generation X
1                  796           Silent
2                  796     Generation X
3                  796  G.I. Generation
4                  796          Boomers
5                  796  G.I. Generation
6                  796           Silent
7                  796          Boomers
8                  796  G.I. Generation
9                  796     Generation X
10                 796  G.I. Generation
11                 796     Generation X
12                 769  G.I. Generation
13                 769     Generation X
14                 769  G.I. Generation
          country  year     sex          age  suicides_no  population  \
27805  Uzbekistan  2013    male   5-14 years           61     2720938
27806  Uzbekistan  2013  female  55-74 years           21     1356298
27807  Uzbekistan  2013  female   5-14 years           31     2595000
27808  Uzbekistan  2014    male  35-54 years          519     3421300
27809  Uzbekistan  2014    male  25-34 years          318     2739150
27810  Uzbekistan  2014  female  15-24 years          347     2992817
27811  Uzbekistan  2014    male  55-74 years          144     1271111
27812  Uzbekistan  2014    male  15-24 years          347     3126905
27813  Uzbekistan  2014    male    75+ years           17      224995
27814  Uzbekistan  2014  female  25-34 years          162     2735238
27815  Uzbekistan  2014  female  35-54 years          107     3620833
27816  Uzbekistan  2014  female    75+ years            9      348465
27817  Uzbekistan  2014    male   5-14 years           60     2762158
27818  Uzbekistan  2014  female   5-14 years           44     2631600
27819  Uzbekistan  2014  female  55-74 years           21     1438935

       suicides/100k pop    country-year  HDI for year  gdp_for_year ($)   \
27805               2.24  Uzbekistan2013         0.672     57,690,453,461
27806               1.55  Uzbekistan2013         0.672     57,690,453,461
27807               1.19  Uzbekistan2013         0.672     57,690,453,461
27808              15.17  Uzbekistan2014         0.675     63,067,077,179
27809              11.61  Uzbekistan2014         0.675     63,067,077,179
27810              11.59  Uzbekistan2014         0.675     63,067,077,179
27811              11.33  Uzbekistan2014         0.675     63,067,077,179
27812              11.10  Uzbekistan2014         0.675     63,067,077,179
27813               7.56  Uzbekistan2014         0.675     63,067,077,179
27814               5.92  Uzbekistan2014         0.675     63,067,077,179
27815               2.96  Uzbekistan2014         0.675     63,067,077,179
27816               2.58  Uzbekistan2014         0.675     63,067,077,179
27817               2.17  Uzbekistan2014         0.675     63,067,077,179
27818               1.67  Uzbekistan2014         0.675     63,067,077,179
27819               1.46  Uzbekistan2014         0.675     63,067,077,179

       gdp_per_capita ($)    generation
27805                2150  Generation Z
27806                2150       Boomers
27807                2150  Generation Z
27808                2309  Generation X
27809                2309    Millenials
27810                2309    Millenials
27811                2309       Boomers
27812                2309    Millenials
27813                2309        Silent
27814                2309    Millenials
27815                2309  Generation X
27816                2309        Silent
27817                2309  Generation Z
27818                2309  Generation Z
27819                2309       Boomers
['country', 'year', 'sex', 'age', 'suicides_no', 'population', 'suicides/100k pop', 'country-year', 'HDI for year', ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation']

In [ ]:
master = df[['country', 'year', 'sex', 'age', 'suicides_no', 'population', 'suicides/100k pop', 'HDI for year',
                ' gdp_for_year ($) ', 'gdp_per_capita ($)']] # убрал только столбцы generation и country-year (первый вряд ли полезен, второй точно бесполезен)

master.columns = ['country', 'year', 'sex', 'age', 'suicides_quantity', 'population', 'suicides/100k pop', 'HDI for year',
                'gdp_for_year', 'gdp_per_capita']

# Удаление строк с пустыми и/или нулевыми значениями в важных столбцах + убрал страны с маленьким населением
master = master.loc[(master['country'].notna()) &
                            (master['year'].notna()) &
                            (master['sex'].notna()) &
                            (master['age'].notna()) &
                            (master['suicides_quantity'].notna()) &
                            (master['population'] >= 250000)]

# Удаление дубликатов
master = master.drop_duplicates()

print(type(master))

<class 'pandas.core.frame.DataFrame'>

# Сортировка данных

1.   List item
2.   List item




Поиск необычного в группе — что среди планет, что среди меломанов — это прежде всего поиск чемпионов: объектов с выдающимися показателями по разным статьям. Как всю таблицу, так и отдельные группы изучают, сортируя строки по какому-либо столбцу.

В Pandas для этой операции есть метод **sort_values()**. У него два аргумента:

• **by = 'имя столбца'** — имя столбца, по которому нужно сортировать;

• **ascending:** по умолчанию True. Для сортировки по убыванию установите значение False.

![image.png](attachment:image.png)


Среди экзопланет интересны близкие по размерам к Земле. Есть ли такие? Отсортируем список по радиусу в порядке возрастания. Тогда в голове таблицы окажутся самые малые, на которых гравитация не прижмёт нас к полу.

**print(exoplanet.sort_values(by='radius').head(30))**

Оказывается, некоторые из уже открытых экзопланет по размерам близки не то что к Земле, но уже и к Луне! Получим список экзопланет с радиусом меньше земного. Смотрите, как логический оператор (здесь это <) задействуется в отборе элементов столбца. Дальше нам этот приём не раз понадобится.

**print(exoplanet[exoplanet['radius'] < 1])**

Но и этот список такой длинный, что изучать его лучше по частям. Экзопланеты, близкие по размерам к Земле, за последнее десятилетие открывали нередко. Можно изучать список открытых за каждый год. Например, для 2014 года (вновь обратите внимание на работу логического оператора, теперь это ==):

**print(exoplanet[exoplanet['discovered'] == 2014])**

А чтобы не тратить время на лишнее, поставим оба условия сразу. Для этого в Pandas есть логический оператор &, подобный оператору and языка Python. Напомним, его смысл на русском языке можно передать словами «и ещё»:

**exo_small_14 = exoplanet[ (exoplanet['radius']<1) & (exoplanet['discovered']==2014)]**

**print(exo_small_14)**

Отсортируем результат в порядке убывания радиуса.

**print(exo_small_14.sort_values(by = 'radius', ascending = False))**

## Задача
1. Выделим пятерки стран с самым низким и самым высоким уровнем самоубийств в мире.

In [ ]:
#Данные группируются по столбцу country и выбирается информацию о самоубийствах на 100к человек
suicide_by_country = master.groupby('country')['suicides/100k pop'].mean()

# На душу населения
# 5 стран с самыми низкими значениями уровня самоубийств на 100 тысяч человек.
lowest_level_suicide_countries = suicide_by_country.nsmallest(5)
# 5 стран с самыми высокими значениями уровня самоубийств на 100 тысяч человек.
highest_level_suicide_countries = suicide_by_country.nlargest(5)

print(lowest_level_suicide_countries)
print(highest_level_suicide_countries)

country
Oman                    0.325789
Jamaica                 0.410541
South Africa            0.884185
United Arab Emirates    1.274167
Azerbaijan              1.618313
Name: suicides/100k pop, dtype: float64
country
Lithuania             50.045565
Russian Federation    34.892377
Latvia                30.831746
Sri Lanka             30.782703
Slovenia              30.739535
Name: suicides/100k pop, dtype: float64

2. Исследуйте распределение количества суидидов по гендерному признаку. Найдите лидеров и антилидеров по количеству самоубийств среди женщин. Повторяется ли картина по сравнению с предыдущим исследованием?

In [ ]:
# Создание таблицы только с женщинами
female_suicides = master[master['sex'] == 'female']

female_suicide_by_country = female_suicides.groupby('country')['suicides/100k pop'].mean()

#на душу населения
lowest_female_quantity_suicide_countries = female_suicide_by_country.nsmallest(5)
highest_female_quantity_suicide_countries = female_suicide_by_country.nlargest(5)
print(lowest_female_quantity_suicide_countries)
print(highest_female_quantity_suicide_countries)

country
Sri Lanka            14.978929
Republic of Korea    14.812527
Lithuania            14.710345
Hungary              14.103677
Japan                13.692688
Name: suicides/100k pop, dtype: float64

# Описательная статистика

Чтобы представить себе среднестатистического самоубийцу, понадобится описательная статистика.

Из её показателей для количественного описания данных в нашей задаче нужны четыре меры — максимум, минимум, медиана и среднее.

Наибольшее и наименьшее обычно вычисляют только по одному признаку. Например, можно получить минимальное и максимальное значение уровня самоубийств (количество самоубийств на 100 тыс.населения) (столбец 'suicides/100k pop'). Для поиска максимума вызывают метод max(), примененный к этому столбцу:

print(master['suicides/100k pop'].max())

In [ ]:
print(master['suicides/100k pop'].max())

185.37

Самый высокий показатель оказался 224.97 самоубийств на 100 тыс.населения. Интересно, в какой стране такая ситуация.

Запросим из master строку с максимальным значением, прибегнув к логической индексации с условием

**master['suicides/100k pop'] == master['suicides/100k pop'].max()**

In [ ]:
master['suicides/100k pop'] == master['suicides/100k pop'].max()

0        False
1        False
2        False
4        False
6        False
         ...
27815    False
27816    False
27817    False
27818    False
27819    False
Name: suicides/100k pop, Length: 17967, dtype: bool

Минимальное значение — ищут методом **min()**. Нам интересно установить случаи, когда уровень суицидов минимальный, но не нулевой.

Вот как мы создаём выборку  и находим в ней минимальное значение:

**master_drop_null = master[master['suicides/100k pop'] != 0]**

**print(master_drop_null['suicides/100k pop'].min())**

In [ ]:
master_drop_null = master[master['suicides/100k pop'] != 0]

print(master_drop_null['suicides/100k pop'].min())

0.02

Получим название самой "счастливой" страны. Как и при поиске максимума, воспользуемся условием и логической индексацией

In [ ]:
happiest_country = master_drop_null[master_drop_null['suicides/100k pop'] == min_suicides_rate]['country'].iloc[0]

print("Самая 'счастливая' страна:", happiest_country)

Самая 'счастливая' страна: South Africa

Результат вывода — две страны, которые соответствуют минимальному значению.
На основе полученных данных можно сделать вывод, что число совершенных самоубийств на 100 тыс. населения  находится в диапазоне от 0,02 до 224.97 секунд, не включая пропущенные.

Это знание пригодится, чтобы разобраться с медианой и средним арифметическим.

Среднее и медиана оценивают значения в центре выборки. Если тех строк, где число с большим количеством самоубийц, столько же, сколько тех, где это число мало — среднее подойдет. Но когда есть оторванные от основной массы лидеры, их результаты сильно смещают значение среднего вверх. Вот почему оценивать в этом случае лучше медианой.

![image.png](attachment:image.png)

В геометрии медиана делит фигуру на две равные по площади. В статистике она делит выборку пополам: в одной половине значения меньше медианного, в другой больше. Логично, что для определения медианы список обязательно должен быть отсортирован — либо по возрастанию, либо по убыванию.
Когда количество значений нечётное, медиана будет равна тому значению, которое оказалось ровно посередине отсортированного набора. Если же количество данных чётное, то медиана рассчитывается как среднее арифметическое двух соседних чисел в середине набора.

В Pandas есть метод **median()**, который считает медиану. По аналогии с **min()** и **max()** его можно применять ко всей таблице, к отдельному столбцу или к сгруппированным данным. Теперь применим медиану ко всем значениям времени прослушивания в нашей таблице, исключив нулевые:

In [ ]:
# Рассчитываем медиану для столбца 'suicides/100k pop'
median_suicide_rate = master_drop_null['suicides/100k pop'].median()
print(median_suicide_rate)

7.32

Чтобы убедиться, что лидеры действительно смещают средний показатель вверх, найдём среднее арифметическое всех этих значений методом mean():

In [ ]:
mean_suicide_rate = master_drop_null['suicides/100k pop'].mean()

print(mean_suicide_rate)

13.039459645895608

In [ ]:
# выбираются уникальные значения из столбца country
print(master['country'].unique(), '\n')
# преобразует значения в столбце year в числовой формат. Если данные содержат нечисловые значения, заменяет их на NaN
master['year'] = pd.to_numeric(master['year'], errors='coerce')
# выбирает строки, где год (year) находится между 2005 и 2007 включительно, и страна равна 'Philippines'.
a = master[(master['year'] >= 2005) & (master['year'] <= 2007) & (master['country'] == 'Philippines')]
a = a['suicides_quantity'].sum()

print(a)


# с 2005 по 2007 год количествор суицидов в любой стране африки

['Albania' 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan'
 'Bahrain' 'Belarus' 'Belgium' 'Bosnia and Herzegovina' 'Brazil'
 'Bulgaria' 'Canada' 'Chile' 'Colombia' 'Costa Rica' 'Croatia' 'Cuba'
 'Czech Republic' 'Denmark' 'Ecuador' 'El Salvador' 'Finland' 'France'
 'Georgia' 'Germany' 'Greece' 'Guatemala' 'Hungary' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Kazakhstan' 'Kuwait' 'Kyrgyzstan' 'Latvia'
 'Lithuania' 'Mexico' 'Mongolia' 'Netherlands' 'New Zealand' 'Nicaragua'
 'Norway' 'Oman' 'Panama' 'Paraguay' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Korea' 'Romania' 'Russian Federation'
 'Serbia' 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'Spain'
 'Sri Lanka' 'Sweden' 'Switzerland' 'Thailand' 'Turkey' 'Turkmenistan'
 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'United States'
 'Uruguay' 'Uzbekistan']

3486